@charset "utf-8";
.box-center {
  display: flex;
  align-items: center;
}
.ellipsis {
  word-break: keep-all;
  /* 不换行 */
  white-space: nowrap;
  /* 不换行 */
  overflow: hidden;
  /* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow: ellipsis;
  /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
#p2-search {
  margin-top: 20px;
}
#p2-search .search-left {
  border: 1px solid #fc2a48;
  border-left: none;
  display: none;
  width: 20%;
  background: #f44a61;
  height: 100%;
  color: #fff;
}
#p2-search .search-left i {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url(../../img/gaga2.png);
}
#p2-search .search-left h4 {
  margin-left: 10px;
}
#p2-search .search-left .i1 {
  background-position: 0 1px;
}
#p2-search .search-left .i3 {
  background-position: -52px 2px;
}
#p2-search .search-left .i5 {
  background-position: -105px 1px;
}
#p2-search .search-left .i2,
#p2-search .search-left .i4,
#p2-search .search-left .i6 {
  background-position: -151px 4px;
  margin-left: 70px;
}
#p2-search .search-left .list1:hover .i1 {
  background-position: -26px 1px;
}
#p2-search .search-left .list1:hover .i2 {
  background-position: -177px 4px;
}
#p2-search .search-left .list1:hover .mes1 {
  display: block;
}
#p2-search .search-left .list2:hover .i3 {
  background-position: -78px 1px;
}
#p2-search .search-left .list2:hover .i4 {
  background-position: -177px 4px;
}
#p2-search .search-left .list2:hover .mes2 {
  display: block;
}
#p2-search .search-left .list3:hover .i5 {
  background-position: -131px 1px;
}
#p2-search .search-left .list3:hover .i6 {
  background-position: -177px 4px;
}
#p2-search .search-left .list3:hover .mes3 {
  display: block;
}
#p2-search .search-left > div {
  position: relative;
  height: 33.3%;
  padding: 5px 0 5px 15px;
}
#p2-search .search-left > div h5 {
  margin-right: 15px;
  cursor: pointer;
}
#p2-search .search-left > div:hover {
  background: #fff;
  color: #fc2a48;
}
#p2-search .search-left > div .mes {
  width: 600px;
  height: 460px;
  color: #fc2a48;
  background: #fff;
  border: 1px solid #fc2a48;
  border-left: none;
  padding: 15%;
  display: none;
  position: absolute;
  left: 193px;
  z-index: 99;
}
#p2-search .search-left > div .mes dl {
  font-size: 16px;
  display: flex;
  align-items: center;
}
#p2-search .search-left > div .mes dl dt {
  width: 100px;
  margin-right: 20px;
  text-align: right;
  font-weight: normal;
}
#p2-search .search-left > div .mes dl dd {
  color: #999;
  padding: 0 15px;
  border-left: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
}
#p2-search .search-left > div .mes dl dd:hover {
  color: #fc2a48;
}
#p2-search .search-left > div .mes dl .noBor {
  border-left: none;
}
#p2-search .search-left > div .mes1 {
  top: -1px;
}
#p2-search .search-left > div .mes2 {
  top: -153.5px;
}
#p2-search .search-left > div .mes3 {
  top: -306px;
}
#p2-search #pro-search {
  width: 80%;
}
#p2-search #pro-search .carousel-inner > .item > img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
#p2-search #pro-search .search-company {
  position: absolute;
  text-shadow: 0;
  top: 30px;
  width: 70%;
  right: 15%;
  left: 15%;
  height: 75px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px;
}
#p2-search #pro-search .search-company form {
  position: relative;
  background: #fff;
  width: 100%;
  height: 45px;
  border-radius: 6px;
  padding: 0 80px 0 95px;
}
#p2-search #pro-search .search-company form h4 {
  position: absolute;
  left: 0;
  top: 4px;
  color: #2d3e50;
  padding: 0 2%;
  font-size: 16px;
  border-right: 1px solid #ccc;
}
#p2-search #pro-search .search-company form input {
  height: 100%;
  border: none;
  padding-left: 2%;
  border-radius: 6px;
  width: 100%;
}
#p2-search #pro-search .search-company form button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 80px;
  background: #eb5255;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #fff;
  font-size: 16px;
}
#p2-profession {
  margin-top: 10px;
}
#p2-profession .list {
  padding: 0 20px;
}
#p2-profession .row,
.p2s-company .jobMes {
  background: #fff;
  padding: 20px 15px;
}
#p2-profession .row .col-sm-6,
.p2s-company .jobMes .col-sm-6 {
  padding: 10px 5px;
}
#p2-profession .row .col-sm-6 > div,
.p2s-company .jobMes .col-sm-6 > div {
  height: 130px;
  padding: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  width: 100%;
}
#p2-profession .row .col-sm-6 > div .pic,
.p2s-company .jobMes .col-sm-6 > div .pic {
  height: 110px;
  width: 110px;
  display: flex;
  align-items: center;
  border: 1px solid #e8e8e8;
  margin-right: 30px;
  padding: 5px;
}
#p2-profession .row .col-sm-6 > div .pic img,
.p2s-company .jobMes .col-sm-6 > div .pic img {
  width: 100%;
  max-height: 100%;
}
#p2-profession .row .col-sm-6 > div .mes,
.p2s-company .jobMes .col-sm-6 > div .mes {
  width: 40%;
}
#p2-profession .row .col-sm-6 > div .mes h5,
.p2s-company .jobMes .col-sm-6 > div .mes h5 {
  margin-top: 15px;
  width: 100%;
  word-break: keep-all;
  /* 不换行 */
  white-space: nowrap;
  /* 不换行 */
  overflow: hidden;
  /* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow: ellipsis;
  /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
#p2-company {
  margin-top: 10px;
}
#p2-company .list {
  padding: 0 20px;
}
#p2-company .row-company {
  background: #fff;
  padding: 30px 0;
}
#p2-company .row-company .col-lg-4 {
  padding-right: 0;
  margin-bottom: 15px;
}
#p2-company .row-company .col-lg-4 > div {
  position: relative;
  color: #fff;
  padding-right: 0;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}
#p2-company .row-company .col-lg-4 > div .pic {
  width: 100%;
}
#p2-company .row-company .col-lg-4 > div .pic img {
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
#p2-company .row-company .col-lg-4 > div .picMes {
  width: 100%;
  max-width: 375px;
  padding-left: 40px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(0%, rgba(255, 255, 255, 0)));
}
#p2-company .row-company .col-lg-4 > div .picMes img {
  margin-right: 5px;
}
#p2-company .row-company .col-lg-4 > div .picMes span {
  margin-right: 15%;
}
#p2-company .row-company .col-lg-8 {
  padding-right: 0;
}
#p2-company .row-company .col-lg-8 .col-sm-3 {
  padding-left: 0;
}
#p2-company .row-company .col-lg-8 .col-sm-3 > div {
  border: 1px solid #e8e8e8;
  height: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 15px;
}
#p2-company .row-company .col-lg-8 .col-sm-3 > div img {
  width: 90%;
  max-height: 100%;
  margin: 0 auto;
}
#p2-company .row-company .col-lg-12 .carousel-indicators {
  position: static;
  margin-left: 30%;
}
#p2-company .row-company .col-lg-12 .carousel-indicators li {
  width: 20px;
  height: 20px;
  margin: 18px 0;
  display: block;
  border-color: #999;
}
#p2-company .row-company .col-lg-12 .carousel-indicators .active {
  width: 20px;
  height: 20px;
  background: #fc2a48;
  border: none;
  margin: 18px 0;
}
#p2-company .row-company .col-lg-12 > .carousel-inner {
  width: 95%;
  height: 155px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin: 10px auto;
  padding-top: 10px;
}
#p2-company .row-company .col-lg-12 > .carousel-inner .col-xs-7 .logo {
  display: flex;
  align-items: center;
  width: 180px;
  height: 130px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin-right: 5%;
}
#p2-company .row-company .col-lg-12 > .carousel-inner .col-xs-7 .logo img {
  width: 90%;
  max-height: 100%;
  margin: 0 auto;
}
#p2-company .row-company .col-lg-12 > .carousel-inner .col-xs-7 .mes {
  width: 100%;
}
#p2-company .row-company .col-lg-12 > .carousel-inner .col-xs-7 .mes .lab {
  color: #536a82;
}
#p2-company .row-company .col-lg-12 > .carousel-inner .col-xs-7 .mes .lab span {
  display: inline-block;
  border: 1px solid #e8e8e8;
  width: 70px;
  padding: 5px 0;
  text-align: center;
  margin-left: 10px;
}
#p2-company .row-company .col-lg-12 > .carousel-inner .col-xs-5 {
  height: 90%;
  padding-left: 2.5%;
  border-left: 1px solid #e8e8e8;
}
#p2-company .row-company .col-lg-12 > .carousel-inner .col-xs-5 > div {
  padding-bottom: 8px;
  width: 100%;
}
#p2-company .row-company .col-lg-12 > .carousel-inner .col-xs-5 > div h5 {
  margin-top: 40px;
  width: 100%;
}
#p2-company .row-company .col-lg-12 > .carousel-inner .col-xs-5 > div h5 span {
  display: inline-block;
  padding: 0 10px;
  border-left: 1px solid #e8e8e8;
  word-break: keep-all;
  /* 不换行 */
  white-space: nowrap;
  /* 不换行 */
  overflow: hidden;
  /* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow: ellipsis;
  /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
#p2-mes {
  margin-top: 20px;
  background: #fff;
}
.row-mes {
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}
.row-mes .col-sm-6 h4,
.row-mes .col-sm-6 h5,
.row-mes .col-sm-6 .f16 {
  color: #536a82;
}
#p2-pic {
  margin-top: 20px;
}
#p2-pic img {
  width: 100%;
  max-height: 100%;
}
@media (max-width: 450px) {
  #p2-company .row-company .col-lg-4 > div .picMes {
    padding-left: 20px;
  }
  #p2-company .row-company .col-lg-8 .col-sm-3 > div {
    height: 80px;
    width: 130px;
  }
  #p2-company .row-company .col-lg-4 {
    padding: 0;
  }
  #p2-company .row-company .col-lg-4 .picMes {
    left: 0;
  }
}
@media (max-width: 767px) {
  #p2-search {
    height: 45vw;
  }
  #p2-search #pro-search .search-company form {
    padding: 0 80px 0 0;
  }
  #p2-search #pro-search .search-company form h4 {
    display: none;
  }
  #p2-company .row-company .col-lg-12 > div .col-xs-7 .logo {
    display: none;
  }
  .row-mes {
    max-width: 350px;
  }
  .row-mes .col-sm-6 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #p2-search {
    height: 360px;
  }
  .row-mes {
    width: 700px;
  }
  .row-mes .bottom {
    float: right;
  }
  .row-mes .mes {
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  #p2-search #pro-search {
    margin: 0 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  #p2-search {
    height: 460px;
  }
  #p2-search .search-left {
    display: block;
  }
}
@media (min-width: 1200px) {
  #p2-search .search-left > div h5 {
    margin-right: 15px;
  }
  #p2-search .search-left > div .i2,
  #p2-search .search-left > div .i4,
  #p2-search .search-left > div .i6 {
    margin-left: 110px;
  }
  #p2-search .search-left > div .mes {
    left: 233px;
  }
}
