@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0}
.body-size{height:100vh;}
html{font-size:62.5%;}  
body {font:normal 100% Arial,sans-serif;font-size:14px; font-size:1.4rem;background:#fff;}


.color-blue{
	color:#1277dc;
}
.back-blue{
	background:#1277dc;
}
.box-center{
	display:flex;
	/* justify-content:space-between; */
	align-items:center;
}

#top{
	color:#fff;
	padding-left:15%;
	padding-right:15%;
}
#top div{
	height:100%;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}
#top h4{
	margin:0;
}
#top span{
	padding:1rem;
}
#top .loading{
	display:inline-block;
	text-align:center;
	background:#fff;
	width:100px;
	color:#000;
}

#list{
	background:#f9f9f9;
	text-align:right;
	padding:2rem 15% 2rem 0;
}
#list button{
	margin-left:3%;
}

#process{
	text-align:right;
	padding:2rem 15% 2rem 0;
}
#process .test{
	display:inline-block;
	width:120px;
	height:30px;
	line-height:30px;
	position: relative;
	text-align:center;
	margin-right:-4px;
}
#process .test .num{
	display:inline-block;
	width:2rem;
	height:2rem;
	background:#ccc;
	border-radius:50%;
	text-align:center;
	line-height:2rem;
	color:#fff;
}
#process .test::after{
	content: ""; 
	display:block;
	position:absolute;
	top:13px;
	width:100%;
	height:0;
	border:2px solid #ccc;
	z-index:-1;
}
#process .loading::after{
	border:2px solid #ff7f00;
}
#process .loading .num{
	background:#ff7f00;
}
#process .loading span{
	color:#ff7f00;
}


#mes{
	width:70%;
	margin:0 auto 50px;
	font-size:1rem;
}
#mes .list{
	border:2px solid #e8e8e8;
}
#mes .list p{
	margin:0;
	padding:1rem 0 1rem 1.5rem;
	position:relative;
	background:url("background10.png")
}
#mes .list p span{
	padding-left:1rem;
}
#mes .mes-select{
	border-left:2px solid #e8e8e8;
	border-right:2px solid #e8e8e8;
	background:#fbfcff;
	margin-left:0;
	margin-right:0;
	padding-top:1.5rem;
	padding-bottom:1.5rem;
}
.selectBox{
	background: url(down10.png) no-repeat right;
	background-position:71px 2px;
	border:1px solid #e8e8e8;
	width:100px;
	height:34px;
	overflow:hidden;
	float:right;
	margin-right:5%;
}
.selectBox select{
    background: transparent;
	border:none;
	padding-left:0.5rem;
    width: 110px;
    height: 100%;
}
input[type='radio'] {opacity:0; display:inline-block; height:20px; }
label {background:url(noload10.png) no-repeat; height:20px; padding-left:25px;}
input[type='radio']:checked + .radioStyle {background:url(loading10.png) no-repeat;}
#mes .input{
	padding-right:0;
	height:36px;
	line-height:38px;
}
#mes .col-md-2,#mes .col-md-3{
	padding-right:0;
	padding-left:0;
}
#mes .button{
	border:2px solid #e8e8e8;
	height:200px;
	line-height:200px;
	text-align:center;
}
#mes .button button{
	padding:10px 25px;
}



#bottom{
	background:#f9f9f9;
	color:#666;
	padding-top:3rem;
	padding-bottom:3rem;
}
#bottom .row{
	width:70%;
	margin:0 auto;
}
#bottom .line span{
	line-height:1.6rem;
}
#bottom .col-md-4{
	padding-left:0;
	padding-right:0;
}
#bottom .col-md-4 span{
	padding-right:1rem;
}





#under{
	background:#1277dc;
	color:#fff;
	text-align:center;
	padding:0.5rem;
	font-size:1rem;
}



@media (max-width: 768px) {
#top h5{
	display:none;
}
.btn{
	padding: 3px 6px;
}
#list{
	padding:1rem 5% 1rem 0;
}
#process{
	padding:1rem 5% 1rem 0;
}
#process .test{
	width:80px;
}
@media (min-width: 768px) {

}