<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>home</title>

</head>

<body>
<div ng-controller='aboutCtrl as about'>

<div id="p4-about" class="width-carousel">
	<div class="row">
		<div class="col-sm-3">
			<div>
				<div ng-class="{0:'active',1:''}[about.aboutState]" ng-click="aboutCha(0)"><i class="i1"></i><span><b>关于我们</b></span></div>
				<div ng-class="{0:'',1:'active'}[about.aboutState]" ng-click="aboutCha(1)"><i class="i2"></i><span><b>联系我们</b></span></div>
			</div>
		</div>
		<div ui-view></div>
	</div>
</div>

</div>


</body>
</html>