<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>home</title>

</head>

<body>
<div ng-controller='eliteCtrl'>

<div id="p3-pic">
	<img src="img/31.png">
</div>

<div id="p3-mes">
	<div style="background:#fff;">
		<div class="row row-mes">
			<div class="col-sm-6 bottom">
				<img src="img/32.png">
			</div>
			<div class="col-sm-6 mes">
				<h3>0预付，无风险</h3>
				<div class="f16"><b>入职付一半，转正付一半</b></div>
				<h5 style="text-align:left;">普通猎头是三个月的薪水，非一般的我们只收一个月的薪水，如果试用期不通过，免费推荐另一个</h5>
			</div>
		</div>
	</div>
	<div>
		<div class="row row-mes">
			<div class="col-sm-6" style="text-align:center;">
				<img src="img/33.png">
			</div>
			<div class="col-sm-6 mes">
				<h3>专注于</h3>
				<div class="f16"><b>最新最热门的IT互联网运人才</b></div>
				<h5 style="text-align:left;">萝卜多自己开发了一套强大的IT互联网人才库系统，有业界最新最活跃最有效的人才库，这里有最新最热门的IT互联网运营和技术人才，在各大互联网公司都有足够强的人脉圈。</h5>
			</div>
		</div>
	</div>
	<div style="background:#fff;">
		<div class="row row-mes">
			<div class="col-sm-6 bottom">
				<img src="img/34.png">
			</div>
			<div class="col-sm-6 mes">
				<h3>优选人才，高效推荐</h3>
				<h5>
					1-3天推荐首批候选人</br>
					甄选人才 简历脱水 推荐人才
				</h5>
				<h5>
					3-5天安排候选人面试</br>
					安排面试 协助客户选人用人
				</h5>
				<h5>
					平均15天推荐成功</br>
					背景调查 多方洽谈 增值服务
				</h5>
			</div>
		</div>
	</div>
</div>

<div id="p3-process">
	<div style="text-align:center;margin:40px 0;">
		<div class="f20"><b>萝卜多，服务流程</b></div>
		<div style="border-bottom:2px solid #f1706b;width:30px;margin:-5px auto 0;"></div>
	</div> 
	<div class="pic">
		<img src="img/35.png">
		<h5 class="h5-1">意向洽谈、深入评审、确认合作、签订合同、提出需求、提供jd、确立招聘标准</h5>
	</div>
	<div class="pic">
		<img src="img/37.png">
	</div>
	<div class="pic">
		<img src="img/36.png">
		<h5 class="h5-2">开始招聘、候选人评审，初步确立聘用意向，背景调查</h5>
	</div>
	<div class="pic">
		<img src="img/37.png">
	</div>
	<div class="pic">
		<img src="img/38.png">
		<h5 class="h5-3">发送聘请通知，候选人上岗，付款、转入售后服务</h5>
	</div>
</div>

<div id="p3-advantage">
	<div style="text-align:center;margin:40px 0;">
		<div class="f20"><b>我们的优势</b></div>
		<div style="border-bottom:2px solid #f1706b;width:30px;margin:-5px auto 0;"></div>
	</div> 
	<div class="row width-all">
		<div class="col-sm-6 col-md-3">
			<img src="img/39.png">
			<div class="f16">30%的行业标准收费水平</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<img src="img/310.png">
			<div class="f16">一半一半无风险的收费模式</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<img src="img/311.png">
			<div class="f16">试用期内不满重推的推荐制度</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<img src="img/312.png">
			<div class="f16">高价值高数量的人才储备机制</div>
		</div>
	</div>
</div>

<div id="p3-case">
	<div style="text-align:center;margin:40px 0;">
		<div class="f20"><b>成功案例</b></div>
		<div style="border-bottom:2px solid #f1706b;width:30px;margin:-5px auto 0;"></div>
	</div> 
	<div class="row width-all">
		<div class="col-sm-6 col-md-3" ng-repeat="x in commendCompany">
			<div class="pic cur-hover" ng-click="companyGo(x)"><img ng-src="{{x.logo}}"></div>
		</div>
		
	</div>
	<div style="text-align:center;margin-top:10px;"><button type="button" class="btn btn-danger" style="padding:10px 30px;" ng-click="companyMore()">更多合作公司</button></div>
</div>


</div>


</body>
</html>