<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>home</title>

</head>

<body>

<div id="p2-search" class="width-all box-center">
	<div class="search-left">
		<div class="list1">
			<div class="mes mes1">
				<dl ng-repeat="x in (categoryData|limitTo:3)">
					<dt>{{x.name}}</dt>
					<dd ng-class="{'noBor':$first}" ng-repeat="y in x.subCategory" ng-click="professionGo(x.id,y.id)">{{y.name}}</dd>
				</dl>
			</div>
			<div class="box-center"><i class="i1"></i><h4>产品</h4><i class="i2"></i></div>
			<div class="box-center" style="flex-wrap:wrap;">
				<h5 ng-repeat="x in (categoryData|limitTo:3)" ng-click="professionGo(x.id)">{{x.name}}</h5>
			</div>
		</div>
		<div class="list2">
			<div class="mes mes2">
				<dl ng-repeat="x in (categoryData|limitTo:5:3)">
					<dt>{{x.name}}</dt>
					<dd ng-class="{'noBor':$first}" ng-repeat="y in x.subCategory" ng-click="professionGo(x.id,y.id)">{{y.name}}</dd>
				</dl>
			</div>
			<div class="box-center"><i class="i3"></i><h4>技术</h4><i class="i4"></i></div>
			<div class="box-center" style="flex-wrap:wrap;">
				<h5 ng-repeat="x in (categoryData|limitTo:5:3)" ng-click="professionGo(x.id)">{{x.name}}</h5>
			</div>
		</div>
		<div class="list3">
			<div class="mes mes3">
				<dl ng-repeat="x in (categoryData|limitTo:-3)">
					<dt>{{x.name}}</dt>
					<dd ng-class="{'noBor':$first}" ng-repeat="y in x.subCategory" ng-click="professionGo(x.id,y.id)">{{y.name}}</dd>
				</dl>
			</div>
			<div class="box-center"><i class="i5"></i><h4>设计</h4><i class="i6"></i></div>
			<div class="box-center" style="flex-wrap:wrap;">
				<h5 ng-repeat="x in (categoryData|limitTo:-3)" ng-click="professionGo(x.id)">{{x.name}}</h5>
			</div>
		</div>
	</div>
	<div id="pro-search" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li ng-repeat="num in pic" data-target="#pro-search" data-slide-to="{{$index}}" ng-class="{active:$first}"></li>
		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">

			<div ng-repeat="num in pic" ng-class="{active:$first}" class="item">
				<img ng-src="{{num.img}}" alt="...">
				<div class="carousel-caption">
				</div>
			</div>


		</div>
		<!-- Controls -->
		<div class="left carousel-control" href="#pro-search" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		</div>
		<div class="right carousel-control" href="#pro-search" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</div>
		<div class="search-company">
			<form class="box-center">
				<h4>公司名称</h4>
				<input type="text" ng-model="pro.companyName" placeholder="输入公司名称"/>
				<button ng-click="professionCompany(pro.companyName)">搜索</button>
			</form>
		</div>
	</div>
</div>


<div id="p2-profession" class="width-all">
	<div class="list box-between">
		<div>
			<span class="cur" ng-class="{true:'f16 b'}[proShow]" ng-click="proShowChange(true)">推荐职位</span>
			<span class="cur" style="margin-left:10px;" ng-class="{false:'f16 b'}[proShow]" ng-click="proShowChange(false)">最新职位</span>
		</div>
		<div class="f16 cur" style="float:right;" ng-click="proMore()">查看更多 ></div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-lg-3" ng-repeat="x in proShowMes">
			<div class="box-center cur-hover" ng-click="proJobMes(x)">
				<div class="pic"><img ng-src="{{x.logo}}"></div>
				<div class="mes"><div class="f16" style="color:#fc2a48;"><b>{{x.compensation|fMes:'compensation':'type'}}</b></div><h5 class="b">{{x.name}}</h5><h5 style="color:#536a82;">{{x.companyName}}</h5></div>
			</div>
		</div>
	</div>
</div>


<div id="p2-company" class="width-all">
	<div class="list box-between"><div class="f16"><b>推荐公司</b></div><div class="cur" style="float:right;" ng-click="comMore()">查看更多 ></div></div>
	<div class="row row-company">
		<div class="col-lg-4">
			<div class="cur" ng-click="proComMes(pro.commendCompany[0])">
				<div class="pic"><img src="img/212.png"></div>
				<div class="picMes">
					<div class="f16">{{pro.commendCompany[0].name}}</div>
					<h5>{{pro.commendCompany[0].slogan}}</h5>
					<h5 class="box-center"><img src="img/226.png"><span class="ellipsis"><span ng-repeat="x in pro.commendCompany[0].industryList">{{'/' | fSymbol:$index}}{{x | fMes:'industry':'id'}}</span></span><img src="img/227.png"><span>{{pro.commendCompany[0].financing|fMes:'financing':'id'}}</span><img src="img/228.png"><span style="margin-right:0;">{{pro.commendCompany[0].province|provinceFilter}}</span></h5>
				</div>
			</div>
		</div>
		<div class="col-lg-8 row">
			<div class="col-xs-6 col-sm-3" ng-repeat="x in pro.commendCompany|limitTo:8:1">
				<div class='cur-hover' ng-click="proComMes(x)"><img ng-src="{{x.logo}}"></div>
			</div>
			<!-- <div class="col-xs-6 col-sm-3">
				<div><img src="img/214.png"></div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div><img src="img/215.png"></div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div><img src="img/216.png"></div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div><img src="img/217.png"></div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div><img src="img/218.png"></div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div><img src="img/219.png"></div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div><img src="img/220.png"></div>
			</div> -->
			
		</div>
		
		
		<div id="p2-carCompany" class="carousel slide col-lg-12 row" data-ride="carousel" style="width:100%;" d-Carousel><!--  d-Carousel -->
			<div class="carousel-inner" role="listbox" style="float:left;">
					
				<div class="item row box-center cur" ng-repeat="x in pro.commendCompany|limitTo:4" ng-class="{active:$first}" ng-click="proComMes(x)">
					<div class="col-xs-7">
						<div class="logo"><img ng-src="{{x.logo}}"></div>
						<div class="mes">
							<h4 class="ellipsis"><b>{{x.name}}</b></h4>
							<h5 class="ellipsis">加入萝卜多俱乐部</h5>
							<h5 class="lab ellipsis"><span style="margin-left:0;">上市公司</span><span>独角兽</span><span>O2O</span></h5>
						</div>
					</div>
					<div class="box-center col-xs-5">
						<div>
							<h4 class="ellipsis"><b>正在热招</b></h4>
							<h5 class="ellipsis"><span style="padding-left:0;border-left:none;">产品经理</span><span>产品总监</span><span>移动产品经理</span></h5>
						</div>
					</div>
				</div>
				
			</div>
			<div class="" style="float:right;height:155px;width:5%;">
				<ol class="carousel-indicators">
					<li ng-repeat="x in pro.commendCompany|limitTo:4" data-target="#p2-carCompany" data-slide-to="{{$index}}" ng-class="{'active':$first}"></li>
				</ol>
			</div>
		
	</div>
	
</div>

<div id="p2-mes" class="width-all">
	<div class="row row-mes">
		<div class="col-sm-6">
			<img src="img/29.png">
		</div>
		<div class="col-sm-6 mes">
			<h3>无成本，零风险</h3>
			<h4>无任何隐含费用全程免费</h4>
			<h5 style="text-align:left;">人才从投递到成功入职不需要任何费用，通过测试后还可免费提供从业建议，不浪费每一分天赋。</h5>
		</div>
	</div>
	<div class="row row-mes">
		<div class="col-sm-6 bottom">
			<img src="img/210.png">
		</div>
		<div class="col-sm-6 mes">
			<h3>高效匹配，高度契合</h3>
			<h5>
				1-3天发送首个聘请通知</br>
				甄选职位 深度匹配 发送聘请通知
			</h5>
			<h5>
				3-5天安排候选人面试</br>
				安排面试 协助客户快速入职
			</h5>
			<h5>
				平均15天推荐成功</br>
				多方洽谈 售后服务
			</h5>
		</div>
	</div>
</div>

<div id="p2-pic" class="width-all">
	<img src="img/211.png">
</div>


</body>
</html>