@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
html{font-size:62.5%}
body{font:normal 100% Arial,sans-serif;font-size:14px; font-size:1.4rem;}
/*.box-under{	
	background:#fff;
	filter:alpha(opacity=80);
	opacity:0.8;
}*/
.box{
	background:rgba(255,255,255,0.8);
	/*position:absolute;*/
	margin-top:25vh;
	margin-left:25%;
	width:50%;
	padding-top:3vh;
	padding-bottom:3vh;
}
.box h1{
	padding-top:2vh;
	padding-bottom:2vh;
	text-align:center;
	color:#03a9f4;
}
.box-mes{
	width:80%;
	margin:0 auto;
}
.box-form{	
	margin-bottom:2vh;
	height:8vh;
	min-height:30px;
	width:100%;
	border:1px solid #000;
	background-color:#fff;
}
.img1-input{
	width:8%;
	height:50%;
	float:left;
	border:none;
	border-right:1px solid #000;
	margin-top:2vh;
	background:url(img/%E7%94%A8%E6%88%B7.png) center no-repeat;
}
.img2-input{
	width:8%;
	height:50%;
	float:left;
	border:none;
	border-right:1px solid #000;
	margin-top:2vh;
	background:url(img/%E5%AF%86%E7%A0%81.png) center no-repeat;
}
.box-input{
	margin-left:2%;
	height:100%;
	width:89%;
	border:none;
	font-size:1.8rem
}
#user-input{
}
#password-input{
}
input:focus{outline:0;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
.warning{
	height:5vh;
	min-height:18px;
	margin-left:10%;
	color:#F00;
}
.logon{
	width:80%;
	margin:0 auto;
	height:8vh;
	min-height:30px;
	line-height:8vh;
	color:#fff;
	text-align:center;
	background:#03a9f4;
	font-size:2rem;
	border-radius:5px;
	cursor:pointer;
}
