*{margin:0; padding:0;}
html{font-size:62.5%}
body{font:normal 100% Arial,sans-serif;font-size:14px; font-size:1.4rem;}
ul{list-style:none;}
ul li a{text-decoration:none;}
li{
    display:block;/*内联对象需加*/
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}

.list-box{
	width:96%;
	margin:0 auto;
	margin-top:1px;
	border:1px solid #ccc;
}
.list-top{
	vertical-align:middle;
	padding:2vh 2vw 2vh 2vw;
	border-bottom:1px solid #ccc;
}
.list-top span{
	font-size:2rem;
}
.list-top input{
	padding:1vh 2vw 1vh 2vw;
	min-width:60px;
	margin-left:3%;
	background:#418ac9;
	border:none;
	border-radius:5px;
	color:#FFF;
	float:right;
}
.list-top input:focus{outline:0;}
.list-top input:hover{background:#06C;}
.list-top a{
	line-height:4vh;
	margin-left:0.5%;
	color:#000;
	text-decoration:none;
	float:right;
}
.list-top img{
	height:4vh;
	line-height:60vh;
	float:right;
}



#list-list{
	float:left;
	margin:1%;
	margin-right:0;
	border:1px solid #ccc;
	border-radius:5px;
	width:14%;
	text-align:center;
}
#list-list ul li{
	height:45px;
	line-height:45px;
	border-bottom:1px solid #ccc;
}
#list-list ul li a{
	color:#418ac9;
}
#list-list ul li a:hover{
	color:#06C;
}



#list-view{
	float:right;
	width:84%;
	border:1px solid #418ac9;
	margin-top:1vw;
}
#list-view p{
	padding-top:2vh;
	padding-bottom:2vh;
	color:#fff;
	background:#418ac9;
	padding-left:2vw;
}
.list-view-manage{
	padding-top:3vh;
	padding-bottom:3vh;
}
.list-view-manage div{
	float:left;
	width:30%;
	text-align:center;
}
.list-view-manage span{
	padding-right:2%;
}
.list-view-manage input{
	padding:1vh 1vw 1vh 1vw;
	min-width:40px;
	width:5%;
	background:#418ac9;
	border:none;
	border-radius:5px;
	color:#FFF;
}
.list-view-manage input:focus{outline:0;}
.list-view-manage input:hover{background:#06C;}
.list-view-mes-box{
	width:96%;
	margin:0 auto;
}
.list-view-mes{
	text-align:center;
}
.list-view-li{
	float:left;
	padding-top:2vh;
	padding-bottom:2vh;
}
.li1{width:15%;}
.li2{width:15%;}
.li3{width:20%;}
.li4{width:30%;}
.li5{width:20%;}
.list-view-li input{margin:0 0.5vw 0 0.5vw;}
.list-view-btn{
	margin:0 auto;
	margin-top:2vh;
	margin-bottom:4vh;
	width:100px;
}
.list-view-btn span{
	padding-left:8%;
	padding-right:8%;
}
.list-view-btn input{
	display:inline-block;
	width:30px;
	height:25px;
}








#abc{
	position:absolute;
	top:40vh;
	left:5vw;
}
#abc1{
	position:absolute;
	top:50vh;
	left:5vw;
}