
<div id="articleSet" ng-controller='articleSet' nv-file-drop="" uploader="uploader">

	<form class="newEdit">
		<div class="top">
			<span>新增/编辑</span>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<span class="item"><span>类型</span></span>
				<select ng-model="articleSaveData.type">
					<option value=0>首页Banner</option>
					<option value=1>找职业Banner</option>
					<option value=2>找精英Banner</option>
					<option value=3>行业大图</option>
				</select>
			</div>
			
			<div class="col-lg-12"><span class="item"><span>标题名称</span></span><input type="text" style="width:660px" /></div>
			<div class="col-lg-12"><span class="item"><span>跳转链接</span></span><input type="text" style="width:660px" /></div>
			
			<div class="col-lg-12">
				<span class="item"><span class="fcR">&emsp;&emsp;&emsp;*</span><span>配图</span></span>
				<div>
					<input type="file" nv-file-select="" uploader="uploader" ng-click="uploader.queue[0].remove()" />
					<div class="pic">
						<div ng-repeat="item in uploader.queue" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 130 ,width:290}"></div>
					</div>
					<table class="tablestyle" style="BORDER-COLLAPSE: collapse" borderColor=#999 cellSpacing=0 align=center bgColor=#ffffff border=1 width="660px">

						<tr>
							<td width="20%">图片名</td>
							<td width="15%">文件大小</td>
							<td width="27%">进度</td>
							<td width="10%">操作</td>
							<td width="28%">操作</td>
						</tr>
						<tr>
							<td>{{ uploader.queue[0].file.name }}</td>
							<td ng-show="uploader.isHTML5" nowrap>{{ uploader.queue[0].file.size/1024|number:0 }} KB</td>
							<td style="padding:0 10px;">
								<div class="progress" style="margin-bottom:8px;width:70%;float:left;">
									<div class="progress-bar" style="margin-top:0;" role="progressbar" ng-style="{ 'width': uploader.queue[0].progress + '%' }"></div>
								</div>
								<div style="">{{uploader.queue[0].progress + '%'}}</div>
							</td>
							<td><span ng-show="uploader.queue[0].isSuccess">&radic;</span></td>
							<!-- 这里有个logo验证 --><input type="text" ng-model="comSaveData.logo" ng-hide="true" required />
							<td nowrap>
								<button type="button" class="btn btn-success btn-sm" ng-click="uploader.queue[0].upload()" ng-disabled="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span>上传
                                    </button>
								<button type="button" class="btn btn-danger btn-sm" ng-click="uploader.queue[0].remove()">
									<span class="glyphicon glyphicon-trash"></span>删除
								</button>
							</td>
						</tr>

					</table>
				</div>
			</div>
		</div>
		<div class="newEditBtn" style="text-align:left;margin-left:100px;">
			<button class="btn btn-success">立即上线</button>
			<button class="btn btn-success">存为草稿</button>
			<button class="btn btn-danger">取消</button>
		</div>
	</form>

</div>