
<div id="jobSet" ng-controller='jobSet as jSet'>

	<form class="newEdit" name="jobForm">
		<div class="top">
			<span>{{jobSaveData.profession.companyName}}</span>
			<span>职位详情</span>
			<select ng-model="jobSaveData.profession.recommend" style="width:60px;">
				<option value=0>普通</option>
				<option value=1>推荐</option>
			</select>
		</div>
		<div class="row">
			<div class="col-lg-6"><span class="item"><span>职位名称</span></span><input type="text" ng-model="jobSaveData.profession.name" required /></div>
			<div class="col-lg-6"><span class="item"><span>公司名称</span></span><input type="text" ng-model="jobSaveData.profession.companyName" disabled="true" /></div>
			
			<div class="col-lg-6">
				<span class="item">工作经验</span>
              
				<select ng-model="jobSaveData.profession.experience" required>
                    <option value="">--请选择--</option>
					<option ng-repeat="x in experience" value="{{$index}}">{{x.name}}</option>
				</select>
			</div>
			<div class="col-lg-6">
				<span class="item">学历要求</span>
				<select ng-model="jobSaveData.profession.education" required>
                    <option value="">--请选择--</option>
					<option ng-repeat="x in education" value="{{$index}}">{{x.name}}</option>
				</select>
			</div>
			<div class="col-lg-6">
				<span class="item">薪资</span>
				<select ng-model="jobSaveData.profession.compensation" required>
                    <option value="">--请选择--</option>
					<option ng-repeat="x in compensation" value="{{$index}}">{{x.name}}</option>
				</select>
			</div>
			<div class="col-lg-6">
				<span class="item">职业类别</span>
				<select ng-model="jobSaveData.profession.category" style="width:160px;" ng-click="jobCateChange(jobSaveData.profession.category)" required>
                    <option value="">--请选择--</option>
					<option ng-repeat="x in category" value="{{$index}}">{{x.name}}</option>
				</select>
                -
                <select ng-model="jobSaveData.profession.subCategory" style="width:160px;" required>
                    <option value="">--请选择--</option>
					<option ng-repeat="x in subCategory" value="{{$index}}">{{x.name}}</option>
				</select>
			</div>
			
			<div class="col-lg-12" style="align-items:center;">
				<span class="item"><span>职位标签</span></span>
				<div class="checkbox" ng-repeat="x in tagList track by $index"><input type="checkbox" ng-model="tagState[$index]" ng-click="test()" /><span>{{x.tag}}</span></div>
			</div>
		</div>
		<div class="formBox">
			<div class="top">职位描述（必填）</div>
			<div class="row">
				<div class="col-lg-12 textStyle">
					<span class="item"><span>岗位职责</span></span>
					<textarea rows="5" cols="78" ng-model="jobSaveData.profession.responsibility" required></textarea>
				</div>
				<div class="col-lg-12 textStyle">
					<span class="item"><span>必备条件</span></span>
					<textarea rows="5" cols="78" ng-model="jobSaveData.profession.requisite" required></textarea>
				</div>
				<div class="col-lg-12 textStyle">
					<span class="item"><span>公司福利</span></span>
					<textarea rows="5" cols="78" ng-model="jobSaveData.profession.boon" required></textarea>
				</div>
			</div>
		</div>
		<div class="newEditBtn">
			<button class="btn btn-success" ng-disabled="jobForm.$invalid" ng-click="save()">保存</button>
			<button class="btn btn-danger" onclick="window.history.back()">取消</button>
		</div>
	</form>
    <d-jobset></d-jobset>
</div>