
<div id="jobSet" ng-controller='jobSet'>

	<form class="newEdit">
		<div class="top">
			<span>{{}}公司名</span>
			<span>职位详情</span>
			<select ng-model="jobSaveData.recommend">
				<option value=0>普通</option>
				<option value=1>推荐</option>
			</select>
		</div>
		<div class="row">
			<div class="col-lg-6"><span class="item"><span class="fcR">&emsp;*</span><span>职位名称</span></span><input type="text" ng-model="jobSaveData.name" /></div>
			<div class="col-lg-6"><span class="item"><span>公司名称</span></span><input type="text" ng-model="jobSaveData.companyName" /></div>
			
			<div class="col-lg-6">
				<span class="item">工作经验</span>
				<select ng-model="jobSaveData.experience">
					<option ng-repeat="x in experience" value="{{$index}}">{{x.name}}</option>
				</select>
			</div>
			<div class="col-lg-6">
				<span class="item">学历要求</span>
				<select ng-model="jobSaveData.education">
					<option ng-repeat="x in education" value="{{$index}}">{{x.name}}</option>
				</select>
			</div>
			<div class="col-lg-6">
				<span class="item">薪资</span>
				<select ng-model="jobSaveData.compensation">
					<option ng-repeat="x in compensation" value="{{$index}}">{{x.name}}</option>
				</select>
			</div>
			<div class="col-lg-6">
				<span class="item">职业类别</span>
				<select ng-model="jobSaveData.category">
					<option ng-repeat="x in category" value="{{$index}}">{{x.name}}</option>
				</select>
			</div>
			
			<div class="col-lg-12" style="align-items:center;">
				<span class="item"><span>公司标签</span></span>
				<div class="checkbox"><input type="checkbox" value="" /><span>五险一金</span></div>
				<div class="checkbox"><input type="checkbox" value="" /><span>带薪休假</span></div>
				<div class="checkbox"><input type="checkbox" value="" /><span>国企背景</span></div>
				<div class="checkbox"><input type="checkbox" value="" /><span>健康体检</span></div>
				<div class="checkbox"><input type="checkbox" value="" /><span>年度旅游</span></div>
			</div>
		</div>
		<div class="formBox">
			<div class="top">职位描述（必填）</div>
			<div class="row">
				<div class="col-lg-12 textStyle">
					<span class="item"><span>岗位职责</span></span>
					<textarea rows="5" cols="78"></textarea>
				</div>
				<div class="col-lg-12 textStyle">
					<span class="item"><span>必备条件</span></span>
					<textarea rows="5" cols="78"></textarea>
				</div>
				<div class="col-lg-12 textStyle">
					<span class="item"><span>公司福利</span></span>
					<textarea rows="5" cols="78"></textarea>
				</div>
			</div>
		</div>
		<div class="newEditBtn">
			<button class="btn btn-success">保存</button>
			<button class="btn btn-danger">取消</button>
		</div>
	</form>

</div>