
	<div class="search-list">
	
		<div class="top">
			<span class="f16">角色管理</span>
			<button class="btn btn-primary btn-xs" ng-click="operate('new')">+ 新增</button>
		</div>
		<div class="mes">
			<ul style="border:1px solid #999;">
				<li>
					<ul class="title mes-list" style="border:none;">
						<li class="li1">自增长ID</li>
						<li class="li2">名称</li>
						<li class="li3">模块对应url地址</li>
						<li class="li4">父模块ID</li>
						<li class="li5">模块类型</li>
						<li class="li6">数据更新时间</li>
						<li class="li7">更新人ID</li>
						<li class="li8">数据创建时间</li>
						<li class="li9">创建人ID</li>
						<li class="li10">操作</li>
					</ul>
				</li>
				<li>
					<ul class="mes-list" ng-repeat="x in showData">
						<li class="li1">{{x.id}}</li>
						<li class="li2">{{x.name}}</li>
						<li class="li3">{{x.url}}</li>
						<li class="li4">{{x.parentID}}</li>
						<li class="li5">{{x.type}}web</li>
						<li class="li6">{{x.updateAt|date:"yyyy-MM-dd"}}</br>{{x.updateAt|date:"hh:mm:ss"}}</li>
						<li class="li7">{{x.updateBy}}</li>
						<li class="li8">{{x.createAt|date:"yyyy-MM-dd"}}</br>{{x.createAt|date:"hh:mm:ss"}}</li>
						<li class="li9">{{x.createBy}}</li>
						<li class="li10">
							<span ng-click="operate('id',x)">编辑</span><span class="fcR" ng-click="operate('del',x)">删除</span>
						</li>
					</ul>
				</li>
			</ul>
			
<div class="page">
	<ul style="margin: 0px;" >  
		<li ng-class="{true:'disabled'}[!(pageNum>1)]"><a href="javascript:void(0);" ng-click="loadPage(1)">首页</a></li>
		<li ng-class="{true:'disabled'}[!(pageNum>1)]"><a href="javascript:void(0);" ng-click="loadPage(pageNum-1)"><</a></li> 
		<li ng-repeat="x in page" ng-class="{true:'active'}[pageNum == $index+1]"><a href="javascript:void(0);" ng-click="loadPage($index+1)">{{$index+1}}</a></li>
		<li ng-class="{true:'disabled'}[pageNum==allPage || allPage<=1]"><a href="javascript:void(0);" ng-click="loadPage(pageNum+1)">></a></li>
		<li ng-class="{true:'disabled'}[pageNum==allPage || allPage<=1]"><a href="javascript:void(0);" ng-click="loadPage(allPage)">尾页</a></li>
	</ul>
	<div><h5 style="padding:0 5px;">去第</h5><input type="test" style="width:30px;height:34px;border:1px solid #ccc;border-radius:4px;padding-left:5px;" ng-model="pageIn" /><h5 style="padding:0 5px;">页</h5><button ng-click="loadPage(pageIn)">确定</button></div>
</div>
			
			
		</div>
	</div>
