
<div id="password" ng-controller="password">

	<div class="search-list">
	
		<div class="top">
			<span class="f16">修改密码</span>
			<button class="btn btn-primary btn-xs" ng-click="companySetGo()">新增</button>
		</div>
		<form class="mes mes-check" name="pwdForm" ng-model="pwdForm">
			
			<div>
				<span>输入旧密码</span>
				<input type="password" ng-model="data.oldPwd" required />
			</div>
			<div>
				<span>设置新密码</span>
				<input type="password" name="pwdPwd" ng-model="data.newPwd" required ng-pattern="/^[0-9]{6,12}$/" />
			    <span class="formError" ng-show="pwdForm.pwdPwd.$dirty && pwdForm.pwdPwd.$invalid">限6~12位数字<span>
			</div>
			<div>
				<span>确认新密码</span>
				<input type="password" ng-model="data.newPwdAgain" />
                <span class="formError" ng-show="data.newPwdAgain != data.newPwd">两个密码不一致<span>
			</div>
			<div>
				<button style="width:350px;margin-left:100px;" ng-click="save()" ng-disabled="pwdForm.$invalid || data.newPwd != data.newPwdAgain">保 存</button>
			</div>
		</form>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="pwdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">信息提示</h4>
				</div>
				<div class="modal-body" style="text-align:center;">
					<div>{{mes}}</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
				</div>
			</div>
		</div>
	</div>

</div>