
	<div class="search-list">
        <d-roleset></d-roleset>
		<div class="top">
			<span class="f16">角色编辑</span>
		</div>
		<form class="mes mes-check" name="roleForm" ng-model="roleForm">
			
			<div>
				<span>角色名</span>
				<input type="text" ng-model="saveData.role.name" required />
			</div>
			<div class="check">
				<span>权&emsp;限</span>
				<div>
					<input type="checkbox" ng-model="checkAll" ng-click="checkChange('all',checkAll)" />全选/全不选
					
					<div style="margin-left:50px;" ng-repeat="x in vm.setList">
						<input type="checkbox" ng-model="x.state" ng-click="checkChange('parent',x.state,$index)" />{{x.parent.name}}
						
						<div style="margin-left:50px;" ng-repeat="y in x.list">
							<input type="checkbox" ng-model="y.state" ng-click="checkChange('child',y.state,$parent.$index,'',y)" />{{y.name}}
							
							<input type="checkbox" ng-model="saveData.role.permissionsSet[y.id][0]" ng-click="checkChange('list',saveData.role.permissionsSet[y.id],$index,$parent.$index)" style="margin-left:80px;" />新增
							<input type="checkbox" ng-model="saveData.role.permissionsSet[y.id][1]" ng-click="checkChange('list',saveData.role.permissionsSet[y.id],$index,$parent.$index)" />编辑
							<input type="checkbox" ng-model="saveData.role.permissionsSet[y.id][2]" ng-click="checkChange('list',saveData.role.permissionsSet[y.id],$index,$parent.$index)" />删除
						</div>
					</div>
				</div>
			</div>
			<div>
				<button class="btn btn-success" ng-click="save()" ng-disabled="roleForm.$invalid">保 存</button>
				<button class="btn btn-default" style="margin-left:30px;" ng-click="cancel()">取 消</button>
			</div>
		</form>
	</div>